/* Notes */
/* absolute akan tergantung pada relative yg dia temuin (parent nya) */


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Space+Grotesk:wght@400;500;700&display=swap');

body {
    margin: 0;
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Space Grotesk', sans-serif;}

.main {
    background-color: #dadada;
    height: 1200px;
}

.nav {
    background-color: #1F1F1F;
    /* height: 50px; */
    width: 100vw;
    text-align: center;
    /* line-height: 50px; */
    color: #ffff;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav h3 {
    font-weight: 500;
    font-size: 1.2em;
}

.contact {
    width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background-color: #32D86E;
    position: fixed;
    top: 84vh;
    left: 92vw;
    z-index: 2;
}

.contact:hover {
    background-color: #22ab54;
    cursor:grab
}

.ri-whatsapp-line {
    font-size: 1.8em;
    line-height: 60px;
    color: #ffff;
}

.content {
    margin: 60px 0 0;
    padding: 14px 60px
}

.sticky {
    background-color: #ebe1b6;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: sticky;
    top: 50px;
    z-index: 1;
}

.ticket {
    margin: 28px 60px;
    padding: 16px 0;
    background-color: #ffff;
    color: #656565;
    width: 160px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #1F1F1F;
    position: relative;
}

.ticket:hover {
    background-color: #7f7f7f;
    color: #ffff;
    border-color: #ffff;
    cursor: grab;
}

.sold {
    background-color: #22ab54;
    width: 100px;
    position: absolute;
    top: -6px;
    color: #ffff;
    right: -20px;
    transform: rotate(15deg)
}

@media screen and (max-width: 480px) {
    .nav {
        background-color: #ebe1b6;
    }
}