.container {
    margin: 20vh 60vh;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}

img {
    height: 30vh;
    width: 40vw;
    padding-top: 25px
}

button {
    margin-bottom: 20px;
    background-color: #4168E5;
    color: #ffff;
    font-size: 14px;
    width: 110px;
    height: 40px;
    border: 5px double rgb(56, 56, 56);
    border-radius: 4px;
}

button:hover {
    background-color: #4167e56c;
    color: #4168E5;
    border-color: #4168E5;
}
